.coinContainer{
    margin: 50px auto;
    border: 1px solid silver;
    border-radius: 10px;
    width: fit-content;
    background-color: #f6f6f6;
}
.searchContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}
.search{
    width: 300px;
    padding: 12px 24px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    border-radius: 50px;
    border: 1px solid #575756;
    margin-top: 50px;
    height: 20px;
   transition: all 2s ease;
}

.search:focus {
    width: 500px;
    outline: none;
    border-color: white;
    background: rgb(240, 234, 234);
    box-shadow: rgba(36, 34, 34, 0.24) 0px 3px 8px;
  }
  ::placeholder {
    color: rgb(143, 146, 160);
    font-size: 18px;
  }